/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557
*/
.newsreader-regular {
  font-family: "Newsreader", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.nothing-you-could-do-regular {
  font-family: "Nothing You Could Do", cursive;
  font-weight: 400;
  font-style: normal;
}

header {
    background-image: url('./images/vallejo.webp');
    background-size: center;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #1D3557;
    color: #F1FAEE;
    text-shadow: 0px 0px 5px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    height: 20rem;
    font-family: "Nothing You Could Do", cursive;
}

header h1 {
    font-size: 2.75rem;
    margin: 0;
    background-color: #457B9DAA;
    border-radius: 50%;
    padding: 10px 20px;
}

header h2 {
    font-size: 1.5rem;
    background-color: #1d3557AA;
    border-radius: 100px;
    padding: 5px 20px;
}

body {
    background-size: 100% auto;
    text-align: center;
    font-family: "Newsreader", serif;
    font-size: 1.2rem;
    min-width: 700px;
    width: 100%;
    height: 100%;
    overflow: auto;
    margin: 0;
}

ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: start;
    position: relative;
    max-width: 1500px;
    margin: auto;
    padding: 0;
}

li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 25%;
}

img {
    width: 150px;
    height: 150px;
    border: 3px solid white;
    border-radius: 50%;
    box-shadow: 0 0 5px black;
    object-fit: cover;
    object-position:center;
}

footer {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    background-color: #A8DADC;
    background: linear-gradient( #ffffff, #A8DADC);
    color: #1D3557;
    font-family: "Newsreader", serif;
    width: 400px;
    margin: 3rem auto;
    padding: 5px 25px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #1D3557;
}



footer div {
    max-width: 50%;
    text-align: center;
}

footer h3 {
    margin: 3px;
    text-shadow: 3px 3px 10px white;
    font-style: italic;
}

footer img {
    width: 160px;
    height: 160px;
    border-radius: 20%;
    margin: 10px 25px 10px 10px;
}

#activities-section h2 {
    margin: 10px 10px 40px 10px;
}

#activities-section {
    color: #1D3557;
    background-color: #F1FAEE;
    background-size: inherit;
    padding: 2rem;
}

#activities-section img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px black;
}

